<!doctype html>
<html lang="en">
<head>
	<title>Output form</title>
	<link rel="stylesheet" href="static/style.css">
	<script lang="text/javascript" src="/static/interactions.js" defer></script>
</head>
<body>
	<!-- This is the main page with the table and buttons -->
	<div id= "grid1">
		<div id="csv_output">
		<!-- table output inserted here -->
		</div>
		<div id="buttons_container" data-start-date="" data-end-date="">
			<h1>Statistics for:</h1>

			<!-- Date Range Selection -->
    			<div id="date_range_selection">
        			<label for="start_date">Start Date:</label>
        			<input type="date" id="start_date">
        
        			<label for="end_date">End Date:</label>
        			<input type="date" id="end_date">
        
        			<button class="set-date-range-btn" onclick="update_date_range()">Set Date Range</button>
   			</div>
			
			<!-- buttons -->
			<div class="options">
				<button id="mentions_info" onclick="mention_information()">Mention information</button>
			</div>	
		
			<div class="options" id="visualizations">
				<button onclick="show_modal('visualizations')">visualizations</button>
			</div>

			<div class="options">
				<button id="sentiment_stat" onclick="sentiment_stats()">sentiment statistics</button>
			</div>

			<div class="options">
				<button id="back" onclick="input_screen()">Back</button>
			</div>
		</div>
	</div>
	
    	<!-- Modal -->
    	<div id="modal" class="modal">
        	<span class="close-button" onclick="close_modal()">&times;</span>
        	<div class="modal-content">
		<!-- Modal stuff populated in here -->
		</div>
    	</div>
</body>
</html>