<!doctype html>
<html lang="en">
<head>
	<title>Output form</title>
	<link rel="stylesheet" href="static/style.css">
	<script lang="text/javascript" src="/static/interactions.js" defer></script>
</head>
<body>
	<div id= "grid1">
		<div id="csv_output">
		<!-- table output inserted here -->
		</div>
		<div id="buttons_container">
			<h1>Statistics for Today:</h1>
			<div class="options">
			<button id="mentions_info" onclick="mention_information()">Mention information</button>
			</div>	
		
			<div class="options" id="visualizations">
			<button onclick="visualizations()">visualizations</button>
			</div>

			<div class="options">
			<button id="sentiment_stat" onclick="sentiment_stats()">sentiment statistics</button>
			</div>

			<div class="options">
			<button id="back" onclick="input_screen()">Back</button>
			</div>
		</div>
	</div>

	<div class="visualization-container">
		<img id="visualization" src="" alt="visualization">
	</div>
</body>
</html>