<!doctype html>
<html lang="en">
<head>
	<title>Output form</title>
	<link rel="stylesheet" href="static/style.css">
	<script lang="text/javascript" src="/static/interactions.js" defer></script>
</head>
<body>
	<div id= "grid1">
		<div id="csv_output">
			#### CAN manually create a table using html elements and then show them
		</div>
		<div id="buttons_container">
			<div class="options">
			<button id="mentions_info" onclick="mention_information()">Mention information</button>
			</div>			
			<div class="options">
			<button id="visualizations">visualizations</button>
			</div>
			<div class="options">
			<button id="sentiment_stat" onclick="sentiment_stats()">sentiment statistics</button>
			</div>
		</div>
	</div>
</body>
</html>